<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wsg.library.dao.mapper.AuthorMapper">
    <insert id="insert" keyColumn="id"
            keyProperty="id" parameterType="cn.wsg.library.entity.AuthorDO" useGeneratedKeys="true">
        insert into lib_author (author_name, original_name, region, link)
        values (#{name}, #{originalName}, #{region}, #{link})
    </insert>

    <resultMap id="BaseResultMap" type="cn.wsg.library.entity.AuthorDO">
        <id column="id" property="id"/>
        <result column="author_name" property="name"/>
        <result column="original_name" property="originalName"/>
        <result column="region" property="region"/>
        <result column="link" property="link"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <select id="countByName" resultType="java.lang.Integer">
        select count(*)
        from lib_author
        where author_name = #{name}
    </select>

    <select id="listByName" resultMap="BaseResultMap">
        select
        id, author_name, original_name, region, link, gmt_modified
        from lib_author
        <where>
            <if test="keyword != null and keyword != ''">
                author_name like concat('%',#{keyword},'%')
                or original_name like concat('%',#{keyword},'%')
            </if>
        </where>
    </select>
</mapper>