<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wsg.repository.dao.mapper.lib.BookAuthorMapper">
    <insert id="insert" keyColumn="id" keyProperty="id"
      parameterType="cn.wsg.repository.entity.lib.BookAuthorDO" useGeneratedKeys="true">
        insert into lib_book_author(book_isbn, author_id, work_type)
        values (#{bookIsbn}, #{authorId}, #{workType})
    </insert>
</mapper>