<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wsg.repository.dao.mapper.lib.CategoryMapper">
    <insert id="insert" parameterType="cn.wsg.repository.entity.lib.CategoryDO">
        insert into lib_category (idx, title, super_idx, is_leaf)
        values (#{idx}, #{title}, #{superIdx}, #{leaf})
    </insert>

    <select id="countAll" resultType="java.lang.Integer">
        select count(*)
        from lib_category
    </select>

    <resultMap id="CategoryMap" type="cn.wsg.repository.entity.lib.CategoryDO">
        <id column="idx" jdbcType="VARCHAR" property="idx"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="super_idx" jdbcType="VARCHAR" property="superIdx"/>
        <result column="is_leaf" jdbcType="TINYINT" property="leaf"/>
    </resultMap>

    <select id="listBy" resultMap="CategoryMap">
        select idx, title, super_idx, is_leaf
        from lib_category
        <where>
            <if test="idx != null and idx != ''">
                and idx = #{idx}
            </if>
            <if test="superIdx != null and superIdx != ''">
                and super_idx = #{superIdx}
            </if>
        </where>
    </select>
</mapper>